.bx-basket {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative; }

.wrap-top-block-right1 .bx-closed .bx-basket-item-list {
  height: 0; }

.window_basket {
  position: absolute;
  min-width: 965px;
  z-index: 999;
  right: -20px;
  top: 36px; }

.bx-basket-item-list-container.modal-content {
  padding: 40px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.23);
          box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.23); }
  .bx-basket-item-list-container.modal-content .loader {
    position: absolute;
    width: 100%;
    height: 100%; }
    .bx-basket-item-list-container.modal-content .loader svg {
      width: 93px;
      height: 93px; }
    .bx-basket-item-list-container.modal-content .loader .circle {
      stroke: #fb0040;
      stroke-dasharray: 300 300;
      stroke-dashoffset: 0;
      -webkit-animation: dash 1s linear infinite;
              animation: dash 1s linear infinite;
      fill: none !important; }

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 600; } }

@keyframes dash {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 600; } }

.bx-basket-item-list-item-remove {
  width: 10%; }

.basket-total-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.basket-total-container .basket-block__link_main_basket {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-width: 180px;
  font-size: 13px;
  margin-right: 35px;
  min-height: 40px; }

.modal-block {
  padding: 20px 5px 20px 20px; }

.bx-basket-item-list-container:before {
  content: '';
  position: absolute;
  display: block;
  bottom: calc(100% - 1px);
  right: 1.5rem;
  width: 1rem;
  height: 1rem;
  margin-bottom: -6px;
  border-top: 1px solid #ededed;
  border-left: 1px solid #ededed;
  background: #F7F7F7;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: right 0.3s;
  transition: right 0.3s; }

.bx-basket-item-list-container.wish-active:before {
  right: 68px; }

.modal-content.open-basket-origami-container {
  padding: 29px 0;
  background-color: #F7F7F7; }

.open-basket-origami {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #F7F7F7;
  position: relative; }
  .open-basket-origami .open-basket-origami__title {
    font-size: 24px;
    font-family: "Open Sans", Arial, sans-serif;
    color: black;
    font-weight: bold;
    line-height: 13px;
    padding: 0;
    padding-top: 5px;
    padding-left: 29px;
    position: absolute; }
  .open-basket-origami .open-basket-origami__close {
    font-size: 13px;
    font-family: "Open Sans", Arial, sans-serif;
    color: #fb0040;
    line-height: 18px;
    text-align: left;
    position: absolute;
    top: 0;
    right: 40px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-transition: 1s;
    transition: 1s; }
    .open-basket-origami .open-basket-origami__close:hover {
      color: #c80033; }
      .open-basket-origami .open-basket-origami__close:hover .open-basket-origami__close-svg {
        fill: #c80033; }
    .open-basket-origami .open-basket-origami__close .open-basket-origami__close-svg {
      -webkit-transition: 1s;
      transition: 1s;
      margin-right: 3px;
      fill: #fb0040; }

/**
 * Tabs
 */
.open-basket-origami__tabs {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .open-basket-origami__tabs label {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 16px;
    font-weight: bold;
    -webkit-box-ordinal-group: 2;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: block;
    cursor: pointer;
    -webkit-transition: 1s;
    transition: 1s;
    position: relative; }
    .open-basket-origami__tabs label:hover {
      color: #fb0040; }
    .open-basket-origami__tabs label[for="open-basket-origami__tab_basket"] {
      margin: 0 203px 0 auto; }
    .open-basket-origami__tabs label[for="open-basket-origami__tab_wish"] {
      margin: 0 203px 0 -188px; }
  .open-basket-origami__tabs .open-basket-origami__tab {
    -webkit-box-ordinal-group: 100;
       -moz-box-ordinal-group: 100;
        -ms-flex-order: 99;
            order: 99;
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
    display: none;
    background-color: #F7F7F7;
    min-height: 60px;
    padding: 0;
    margin-top: 33px; }
  .open-basket-origami__tabs input[type="radio"] {
    display: none; }
  .open-basket-origami__tabs input[type="radio"]:checked + label {
    color: #fb0040;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }
    .open-basket-origami__tabs input[type="radio"]:checked + label:hover {
      color: #c80033; }
      .open-basket-origami__tabs input[type="radio"]:checked + label:hover:before {
        background: #c80033; }
    .open-basket-origami__tabs input[type="radio"]:checked + label:before {
      content: "";
      background: #fb0040;
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: -5px;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
  .open-basket-origami__tabs input[type="radio"]:checked + label + .open-basket-origami__tab {
    display: block; }

.open-basket-origami__tab-not-products {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 56px 40px;
  background-color: #fff; }

.open-basket-origami__tab-not-products-logo {
  margin-top: 6px;
  margin-right: 20px; }

.open-basket-origami__tab-not-products-title {
  padding-bottom: 7px;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  color: #000; }

.open-basket-origami__tab-not-products-descripion {
  font-size: 14px;
  line-height: 21px;
  color: #000; }

.open-basket-origami__tab-not-products-btns {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px; }

.open-basket-origami__tab-not-products-cat {
  margin-right: 20px;
  color: #fff;
  font-size: 14px;
  width: 130px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #fb0040;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .open-basket-origami__tab-not-products-cat:hover {
    color: #fff;
    background-color: #c80033; }

.open-basket-origami__tab-not-products-main {
  font-size: 14px;
  line-height: 21px;
  color: #fb0040;
  width: 130px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #fb0040;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .open-basket-origami__tab-not-products-main:hover {
    color: #c80033;
    border-color: #c80033; }

.open-basket-product-block {
  margin: 0;
  padding: 0;
  max-height: 280px;
  overflow: hidden;
  position: relative; }
  .open-basket-product-block.ps {
    cursor: default; }

.open-basket-product-block-title {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 30px 16px 30px;
  background-color: #fff; }
  .open-basket-product-block-title::after {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 60px);
    bottom: 0;
    left: 30px;
    background-color: #ededed; }

.open-basket-product-block-name {
  color: #808080; }
  .open-basket-product-block-name.open-basket-product-block-name--name {
    width: 340px; }
  .open-basket-product-block-name.open-basket-product-block-name--price {
    width: 140px; }
  .open-basket-product-block-name.open-basket-product-block-name--quantity {
    width: 180px; }
  .open-basket-product-block-name.open-basket-product-block-name--summ {
    width: 145px; }

.open-basket-product-block.preload {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3)));
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)); }

.open-basket-product-block__one {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 22px 30px 15px 30px;
  position: relative;
  background-color: #fff; }
  .open-basket-product-block__one::after {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 60px);
    bottom: 0;
    left: 30px;
    background-color: #ededed; }

.open-basket-product-block__one-close {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 40px;
  top: calc(50% - 8px);
  fill: #cacaca;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .open-basket-product-block__one-close:hover {
    fill: #000000; }

.open-basket-product-block__item {
  padding: 0 15px; }
  .open-basket-product-block__item.open-basket-product__total {
    padding: 0 15px 0 78px; }
  .open-basket-product-block__item.open-basket-product__picture {
    width: 100px;
    padding: 0 10px 0 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .open-basket-product-block__item.open-basket-product__wish {
    padding: 15px 15px 0 5px; }

.open-basket-product__picture {
  width: 70px; }
  .open-basket-product__picture img {
    max-width: 100%;
    max-height: 100%; }

.open-basket-product__info {
  width: 224px;
  padding-top: 10px;
  padding-left: 16px; }

.open-basket-product__price {
  width: 150px;
  padding-top: 10px; }

.open-basket-product__price-block {
  margin: 0 auto; }

.open-basket-product__total {
  width: 140px;
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 45px; }

.open-basket-product__total-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: auto;
  width: 205px;
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  -webkit-box-align: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .open-basket-product__total-block.open-basket-product__total-block--wish {
    margin-left: auto;
    width: 205px; }

.open-basket-product__total-price {
  padding-top: 10px;
  width: 122px; }

.open-basket-product__total-name {
  display: none; }

.open-basket-product__price-one-saving {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.open-basket-product__number {
  padding: 5px 15px 0 5px;
  padding-top: 2px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .open-basket-product__number .open-basket-product__quantity {
    height: 40px;
    margin-top: 10px; }
  .open-basket-product__number .open-basket-product__number-item {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 12px;
    color: #808080;
    text-align: center; }

.open-basket-product__number.open-basket-product__number--wish {
  padding-top: 10px;
  padding-left: 20px; }

.open-basket-product__quantity {
  height: 35px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ededed; }
  .open-basket-product__quantity .open-basket-product__quantity-value {
    font-size: 14px;
    font-family: "Open Sans", Arial, sans-serif;
    color: #050505;
    line-height: 2.194;
    text-align: center;
    width: 35px;
    border-top: none;
    border-bottom: none;
    border-right: 1px solid #ededed;
    border-left: 1px solid #ededed; }
  .open-basket-product__quantity .open-basket-product__quantity-plus,
  .open-basket-product__quantity .open-basket-product__quantity-minus {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 24px;
    color: #7f7f7f;
    font-size: 9px;
    cursor: pointer; }
    .open-basket-product__quantity .open-basket-product__quantity-plus:hover,
    .open-basket-product__quantity .open-basket-product__quantity-minus:hover {
      background-color: #f2f2f2;
      cursor: pointer; }

.open-basket-product__quantity.open-basket-product__quantity--wish {
  border: none;
  margin: 0; }
  .open-basket-product__quantity.open-basket-product__quantity--wish span {
    display: block;
    width: 100%;
    text-align: center; }

.open-basket-product__wish {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 25px;
  font-size: 14px;
  color: #dfdfdf;
  line-height: 3.086;
  text-align: left;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s; }
  .open-basket-product__wish:hover .open-basket-product__wish-svg {
    -webkit-transition: 1.5s;
    transition: 1.5s;
    fill: #fb0040;
    stroke: #fb0040; }
  .open-basket-product__wish .open-basket-product__wish-svg {
    width: 20px;
    height: 20px;
    -webkit-transition: 1.5s;
    transition: 1.5s;
    fill: #dfdfdf;
    stroke: #dfdfdf; }

.open-basket-product__price-one {
  padding-bottom: 5px; }

.open-basket-product__name {
  display: block;
  margin-bottom: 8px; }

.open-basket-product__total-value,
.open-basket-product__price-one-value,
.open-basket-product__name {
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #060606;
  font-weight: bold;
  line-height: 1.429;
  text-align: left; }

.open-basket-product__total-eco {
  margin: 7px 0;
  font-size: 13px;
  color: #808080;
  text-decoration: line-through; }

.open-basket-product__total-value {
  font-size: 15px; }

.open-basket-product__price-one-value {
  font-size: 15px;
  font-weight: 600; }

.open-basket-product__total-name,
.open-basket-product__price-one-name,
.open-basket-product__property-name {
  font-size: 12px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #8b8b8b;
  line-height: 1.5;
  text-align: left; }

.open-basket-product__price-one-name {
  display: none; }

.open-basket-product__price-one-old-value {
  margin-top: 6px;
  font-size: 13px;
  font-family: "OpenSans";
  color: rgba(6, 6, 6, 0.502);
  line-height: 1.846;
  text-decoration: line-through; }

.open-basket-product__price-one-quantity {
  margin-top: 6px;
  font-size: 13px;
  color: #808080; }

.open-basket-product__price-one-saving {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 9px; }
  .open-basket-product__price-one-saving .price-one-saving__name {
    font-size: 11px;
    font-family: "Open Sans", Arial, sans-serif;
    color: #1d1d1d;
    line-height: 1.818; }
  .open-basket-product__price-one-saving .price-one-saving__value {
    font-size: 11px;
    font-family: "Open Sans", Arial, sans-serif;
    color: #00b02a;
    line-height: 1.385;
    text-align: center;
    border: 1px solid #00b02a;
    padding: 0 3px;
    margin-left: 0; }

.open-basket-product__property-value {
  font-size: 12px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #020202;
  line-height: 1.833;
  text-align: left; }

.open-basket-product-btn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 40px;
  padding-left: 27px;
  margin-top: 25px; }

.open-basket-product-btn__more-buy {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 13px;
  color: #808080;
  -webkit-box-ordinal-group: 1;
     -moz-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0; }
  .open-basket-product-btn__more-buy svg {
    margin-right: 3px;
    fill: #808080;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
  .open-basket-product-btn__more-buy:hover {
    color: #000; }
    .open-basket-product-btn__more-buy:hover svg {
      fill: #000; }

.open-basket-product-btn__total-eco-old-price {
  margin-left: 13px;
  padding: 0 6px;
  font-size: 12px;
  line-height: 18px;
  color: #808080;
  text-decoration: line-through; }

.open-basket-product-btn__total-eco-title {
  font-size: 11px;
  line-height: 17px;
  color: #808080; }

.open-basket-product-btn__total-eco-summ {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 6px;
  margin-left: 4px;
  font-size: 11px;
  line-height: 15px;
  color: #00B02A;
  border: 1px solid #00B02A; }

.open-basket-product-btn__basket {
  min-width: 232px;
  height: 40px;
  border: 1px solid #fb0040;
  color: #fff;
  font-size: 13px;
  font-family: "Open Sans", Arial, sans-serif;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  background-color: #fb0040;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-box-ordinal-group: 5;
     -moz-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4; }
  .open-basket-product-btn__basket:hover {
    background: #c80033;
    color: #fff; }
  .open-basket-product-btn__basket .open-basket-product-btn__basket-svg {
    fill: #fff;
    stroke: #fff; }

.open-basket-product-btn__order {
  display: none;
  font-size: 13px;
  font-family: "Open Sans", Arial, sans-serif;
  color: white;
  font-weight: bold;
  text-align: left;
  min-width: 180px;
  height: 40px; }
  .open-basket-product-btn__order .open-basket-product-btn__order-svg {
    fill: white;
    stroke: white; }
  .open-basket-product-btn__order .open-basket-product-btn__order-svg {
    fill: white;
    stroke: white; }

.open-basket-product-btn__total-price {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: auto;
  -webkit-box-ordinal-group: 2;
     -moz-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.basket-line-btn-oc {
  width: 160px;
  height: 40px;
  margin-left: 22px;
  font-size: 14px;
  color: #fb0040;
  background-color: transparent;
  border: 1px solid #fb0040;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-ordinal-group: 4;
     -moz-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  outline: none;
  cursor: pointer; }
  .basket-line-btn-oc:hover {
    border-color: #fb0040;
    color: #fb0040; }

.open-basket-product-btn__total-price-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.open-basket-product-btn__total-eco-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.open-basket-product-btn__total-price-n-name {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  color: #000; }

.open-basket-product-btn__total-price-n-nds {
  font-size: 10px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #8b8b8b;
  line-height: 1.5; }

.open-basket-product-btn__total-price-value {
  font-size: 18px;
  line-height: 25px;
  /* identical to box height, or 139% */
  color: #000000;
  font-weight: bold;
  text-align: left;
  margin-left: 15px; }
  .open-basket-product-btn__total-price-value .total-price-value__currency {
    font-size: 18px; }

.open-basket-product-btn__order svg,
.open-basket-product-btn__basket svg {
  margin: 0 5px; }

.body-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll; }

.overlay-basket {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 86; }

.overlay-basket.overlay-active {
  display: block; }

.basket-block__link {
  z-index: 88; }
  .basket-block__link svg {
    fill: #919191; }

@media (max-width: 992px) {
  .open-basket-product-block__item.open-basket-product__info {
    padding-left: 10px;
    padding-right: 10px; }
  .open-basket-product-block__item.open-basket-product__total {
    padding-left: 10px; }
  .open-basket-product-block__item.open-basket-product__price {
    padding-left: 10px;
    padding-right: 10px; }
  .open-basket-product-block__item.open-basket-product__number {
    padding-right: 10px; } }

@media (max-width: 1024px) {
  .window-without-bg.window_basket {
    display: none !important; }
  .overlay-basket {
    display: none !important; } }
