
.blog_block-simple__item {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    border: 1px solid #ededed;

    &:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    }
}

.blog_block__content_title {
    display: block;
    margin-bottom: 1rem;
}

.blog_block-simple__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.blog_block-simple__item-wrapper {
    display: flex;
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
}

.blog_block-simple__item-img {
    & img {
        // max-width: 100%;
        // max-height: 100%;
        height: 100%;
        width: auto;
    }
}

.blog_block__content_comment {
    margin-bottom: 1rem;
}

.blog_block-simple__item-content {
    padding: 1.25rem 1.25rem 2.5rem 1.25rem;
}

.blog_block-simple__item-data {
    margin-bottom: 1.5rem;
    color: #807f7f;
}

.blog_block__item_link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
}

@media (max-width: 1024px) {
    .blog_block-simple__item-wrapper {
        width: calc(100% / 2 - 30px);
    }

    .blog_block-simple__item-wrapper:nth-child(n + 3) {
        margin-top: 30px;
    }

    .blog_block__item_link {
        height: 270px;
    }
}

@media (max-width: 768px) {

    .blog_block-simple {
        & .slick-slide {
            display: flex !important;
            width: 290px;
            margin-right: 20px;

            & > div {
                height: auto !important;
                max-width: 100%;
            }
        }
    }


    .blog_block-simple__item-wrapper {
        display: flex !important;
        margin-left: 0;
    }

    .blog_block-simple__wrapper {
        margin: 0;
    }

    .blog_block__item_link {
        height: 164px;
    }
}

@media (max-width: 576px) {

    .blog_block-simple__wrapper .slick-slide {
        width: 260px;
        margin-right: 20px;
    }

    .blog_block-simple__item-wrapper:nth-child(n + 3) {
        margin-top: 0;
    }

    .blog_block-simple__item {
        height: 100%;
    }
}

