.bx-basket {
    display: inline-block;
}

.wrap-top-block-right1 .bx-closed .bx-basket-item-list {
    height: 0;
}

.header_top_block_cabinet__list {
    display: none;
    position: absolute;
    background: #ffffff;
    min-width: 260px;
    padding-left: 0;
    margin-bottom: 0;
    z-index: 102;
    text-align: left;
    right: 0;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.header_top_block_cabinet__list li {
    list-style: none;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

.header_top_block_cabinet__list li:before {
    content: unset;
}

.header_top_block_cabinet__list li:last-child {
    border-bottom: none;
    font-weight: bold;
}

.header_top_block_cabinet__list li:hover a {
    color: #ffffff;
}

.header_top_block_cabinet__list li a {
    color: #313131;
    height: 45px;
    line-height: 45px;
    padding-left: 20px;
    display: inline-block;
    width: 100%;
}

.header_top_block_cabinet__title {
    color: #000000;
    padding: 0.35rem 1rem 0.35rem 0;
    display: block;
}

.header_top_block_cabinet__wrapper {
    position: relative;
}

.header_top_block_cabinet__wrapper:hover .header_top_block_cabinet__list {
    display: block;
}

.header_top_block_cabinet__wrapper:hover .origami_icons_button:after {
    -webkit-transform: rotate(-135deg) translateY(-50%);
    transform: rotate(-135deg) translateY(-50%);
}