body h1:not([class]) {
  padding-bottom: 30px;
  font-size: 31px; }

.vlog-detail .vlog-detail__video-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 498px;
  margin-bottom: 30px;
  overflow: hidden; }

.vlog-detail .vlog-detail__video-container {
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  background-color: #f7f7f7; }
  .vlog-detail .vlog-detail__video-container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.vlog-detail .vlog-detail__videos-list-wrapper-outer {
  position: relative;
  width: 34%;
  background-color: #f7f7f7;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden; }

.vlog-detail .vlog-detail__videos-list-wrapper-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 8%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20.38%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.73)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 20.38%, rgba(255, 255, 255, 0.73) 100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.vlog-detail .vlog-detail__videos-list-wrapper {
  position: relative;
  width: 100%;
  padding: 20px 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100%; }

.vlog-detail .vlog-detail__videos-list-title {
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: 600; }

.vlog-detail .vlog-detail__list-video {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
  .vlog-detail .vlog-detail__list-video + .vlog-detail__list-video {
    margin-top: 20px; }

.vlog-detail .vlog-detail__list-video-link {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 38%;
  max-height: 85px;
  margin-right: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden; }
  .vlog-detail .vlog-detail__list-video-link:hover + div .vlog-detail__list-video-title {
    color: #fb0040; }

.vlog-detail .vlog-detail__list-video-title {
  display: block;
  height: 42px;
  margin-bottom: 10px;
  overflow: hidden;
  font-size: 14px;
  line-height: 21px; }

.vlog-detail .vlog-detail__list-video-play-button {
  position: absolute;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 28px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 7px; }
  .vlog-detail .vlog-detail__list-video-play-button .icon_play {
    fill: #ffffff; }

.vlog-detail .vlog-detail__list-video-link-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%; }

.vlog-detail .vlog-detail__list-video-date {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #808080; }
  .vlog-detail .vlog-detail__list-video-date .icon_clock {
    margin-right: 10px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    fill: #808080; }

.vlog-detail .ps__thumb-y {
  right: 5px; }

.vlog-detail .vlog-detail__description {
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.vlog-detail .vlog-detail__description-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px; }

.vlog-detail .vlog-detail__sidebar {
  width: 34%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-left: 30px; }

.vlog-detail .vlog-detail__description-date {
  margin-bottom: 10px;
  font-size: 15px;
  color: #808080; }

.vlog-detail .vlog-detail__description-text {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 24px;
  text-align: justify; }

.vlog-detail .video-tags {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .vlog-detail .video-tags .video-tags__title {
    display: block;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 12px; }
  .vlog-detail .video-tags .video-tags__tag {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 20px;
    padding: 0 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    font-size: 11px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ededed;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .vlog-detail .video-tags .video-tags__tag span {
      text-overflow: ellipsis;
      overflow: hidden; }
    .vlog-detail .video-tags .video-tags__tag:hover {
      color: #ffffff;
      background-color: #fb0040; }

.vlog-detail .email-subscribe {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .vlog-detail .email-subscribe input {
    height: 40px;
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 10px 15px;
    border: 1px solid #ededed; }
    .vlog-detail .email-subscribe input::-webkit-input-placeholder {
      color: #808080; }
    .vlog-detail .email-subscribe input::-moz-placeholder {
      color: #808080; }
    .vlog-detail .email-subscribe input:-ms-input-placeholder {
      color: #808080; }
    .vlog-detail .email-subscribe input::-ms-input-placeholder {
      color: #808080; }
    .vlog-detail .email-subscribe input::placeholder {
      color: #808080; }
  .vlog-detail .email-subscribe button {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60px;
    height: 40px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    cursor: pointer;
    border: 0; }
  .vlog-detail .email-subscribe .icon_mail {
    fill: #ffffff; }

.vlog-detail .vlog-detail__sidebar-title {
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: 600; }

.vlog-detail .vlog-detail__videos-list-content-scroll {
  position: relative; }

@media (max-width: 1200px) {
  .vlog-detail .vlog-detail__video-wrapper {
    height: 378px; }
  .vlog-detail .vlog-detail__list-video-link {
    width: 120px;
    height: 67px; }
  .vlog-detail .vlog-detail__list-video-date {
    font-size: 12px; }
  .vlog-detail .vlog-detail__list-video-title {
    margin-bottom: 6px; }
  .vlog-detail .vlog-detail__list-video-date .icon_clock {
    height: 12px;
    margin-bottom: 2px; } }

@media (max-width: 1024px) {
  body h1:not([class]) {
    font-size: 28px; } }

@media (max-width: 850px) {
  .vlog-detail .vlog-detail__videos-list-title {
    margin-bottom: 15px; }
  .vlog-detail .vlog-detail__video-container {
    height: 410px; }
  .vlog-detail .vlog-detail__list-video-title {
    white-space: normal; }
  .vlog-detail .vlog-detail__list-video {
    display: inline-block;
    width: 180px;
    margin-right: 20px;
    font-size: 0; }
    .vlog-detail .vlog-detail__list-video + .vlog-detail__list-video {
      margin-top: 0; }
  .vlog-detail .vlog-detail__video-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 670px;
    height: auto; }
  .vlog-detail .vlog-detail__videos-list-wrapper-outer {
    max-height: 261px;
    width: 100%; }
  .vlog-detail .vlog-detail__sidebar {
    display: none; }
  .vlog-detail .vlog-detail__list-video-link {
    width: 180px;
    height: 100px;
    max-height: 100px;
    margin: 0 0 13px; }
  .vlog-detail .vlog-detail__description-date {
    font-size: 14px; }
  .vlog-detail .vlog-detail__videos-list-title {
    padding: 0 20px; }
  .vlog-detail .vlog-detail__videos-list-wrapper {
    padding: 20px 0 10px; }
  .vlog-detail .vlog-detail__videos-list-wrapper-shadow {
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, color-stop(20.38%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.73)));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 20.38%, rgba(255, 255, 255, 0.73) 100%);
    width: 8%;
    right: 0;
    left: auto; }
  .vlog-detail__videos-list-content {
    display: inline-block;
    padding: 0 0 10px 20px;
    white-space: nowrap; } }

@media (max-width: 768px) {
  body h1:not([class]) {
    font-size: 24px; } }

@media (max-width: 550px) {
  body h1:not([class]) {
    padding-bottom: 20px; }
  .vlog-detail .vlog-detail__video-container {
    height: 163px; }
  .vlog-detail .vlog-detail__list-video {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%; }
  .vlog-detail .vlog-detail__list-video + .vlog-detail__list-video {
    margin-top: 15px; }
  .vlog-detail .vlog-detail__list-video-link {
    margin: 0 10px 0 0;
    width: 120px;
    height: 67px; }
  .vlog-detail .vlog-detail__videos-list-wrapper {
    max-height: 261px; }
  .vlog-detail .vlog-detail__videos-list-wrapper-shadow {
    height: 8%;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20.38%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.73)));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 20.38%, rgba(255, 255, 255, 0.73) 100%); }
  .vlog-detail .vlog-detail__videos-list-title {
    margin-bottom: 10px;
    padding: 0;
    font-size: 14px; }
  .vlog-detail .vlog-detail__videos-list-wrapper {
    margin-top: 15px;
    padding: 0 10px 15px; }
  .vlog-detail .vlog-detail__description-text {
    font-size: 14px;
    line-height: 21px; }
  body h1:not([class]) {
    font-size: 20px; }
  .vlog-detail__videos-list-content {
    display: block;
    padding: 0 0 15px;
    white-space: normal; } }
