body h1:not([class]) {
    padding-bottom: 30px;
    font-size: 31px;
}

.vlog-detail {

    .vlog-detail__video-wrapper {
        display: flex;
        height: 498px;
        margin-bottom: 30px;
        overflow: hidden;
    }

    .vlog-detail__video-container {
        flex-grow: 1;
        overflow: hidden;
        background-color: #f7f7f7;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .vlog-detail__videos-list-wrapper-outer {
        position: relative;
        width: 34%;
        background-color: #f7f7f7;
        flex-shrink: 0;
        overflow: hidden;
    }

    .vlog-detail__videos-list-wrapper-shadow {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 8%;
        width: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 20.38%, rgba(255, 255, 255, 0.73) 100%);
        transition: all 0.3s ease;
    }

    .vlog-detail__videos-list-wrapper {
        position: relative;
        width: 100%;
        padding: 20px 30px;
        flex-shrink: 0;
        height: 100%;
    }

    .vlog-detail__videos-list-title {
        margin-bottom: 20px;
        font-size: 17px;
        font-weight: 600;
    }

    .vlog-detail__list-video {
        display: flex;

        + .vlog-detail__list-video {
            margin-top: 20px;
        }
    }

    .vlog-detail__list-video-link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38%;
        max-height: 85px;
        margin-right: 15px;
        flex-shrink: 0;
        overflow: hidden;

        &:hover {
            & + div {
                .vlog-detail__list-video-title {
                    color: #fb0040;
                }
            }
        }
    }

    .vlog-detail__list-video-title {
        display: block;
        height: 42px;
        margin-bottom: 10px;
        overflow: hidden;
        font-size: 14px;
        line-height: 21px;
    }

    .vlog-detail__list-video-play-button {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 28px;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 7px;

        .icon_play {
            fill: #ffffff;
        }
    }

    .vlog-detail__list-video-link-image {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .vlog-detail__list-video-date {
        display: flex;
        align-items: center;
        color: #808080;

        .icon_clock {
            margin-right: 10px;
            flex-shrink: 0;
            fill: #808080;
        }
    }

    .ps__thumb-y {
        right: 5px;
    }

    .vlog-detail__description {
        flex-grow: 1;
    }

    .vlog-detail__description-wrapper {
        display: flex;
        margin-bottom: 60px;
    }

    .vlog-detail__sidebar {
        width: 34%;
        flex-shrink: 0;
        padding-left: 30px;
    }

    .vlog-detail__description-date {
        margin-bottom: 10px;
        font-size: 15px;
        color: #808080;
    }

    .vlog-detail__description-text {
        margin-bottom: 20px;
        font-size: 15px;
        line-height: 24px;
        text-align: justify;
    }

    .video-tags {
        display: inline-flex;
        flex-wrap: wrap;

        .video-tags__title {
            display: block;
            margin-right: 10px;
            margin-bottom: 5px;
            font-size: 12px;
        }

        .video-tags__tag {
            display: flex;
            align-items: center;
            height: 20px;
            padding: 0 10px;
            margin-bottom: 5px;
            margin-right: 5px;

            font-size: 11px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            border-radius: 10px;
            cursor: pointer;
            background-color: #ededed;
            transition: all 0.2s ease;

            span {
                text-overflow: ellipsis;
                overflow: hidden;
            }

            &:hover {
                color: #ffffff;
                background-color: #fb0040;
            }
        }
    }

    .email-subscribe {
        display: flex;
        align-items: center;

        input {
            height: 40px;
            flex-grow: 1;
            padding: 10px 15px;
            border: 1px solid #ededed;

            &::placeholder {
                color: #808080;
            }
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 40px;
            transition: all 0.2s ease;
            cursor: pointer;
            border: 0;
        }

        .icon_mail {
            fill: #ffffff;
        }
    }

    .vlog-detail__sidebar-title {
        margin-bottom: 20px;
        font-size: 17px;
        font-weight: 600;
    }

    .vlog-detail__videos-list-content-scroll {
        position: relative;
    }
}

@import "vlog_detail_media.scss";
