/*detail!*/
.product-item-preview-slider-images-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.popup .product-item-detail-slider-container {
    padding: 0 3rem;
}

.main_info_preview_product {
    max-width: 990px;
    max-height: 430px;
}

.block-property-text-item.notallowed, .block-property-color-item.notallowed {
    color: #313131;
    opacity: 0.3;
}

.block-property-color-item.block-property.color_image.notallowed {
    position: relative;
    opacity: 0.4;
}

.block-property-color-item.notallowed::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 2px;
    width: 30px;
    height: 1px;
    background-color: #8c8c8c;
    transform: rotate(45deg);
}

.block-property-color-item.notallowed::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 1px;
    width: 30px;
    height: 1px;
    background-color: #8c8c8c;
    transform: rotate(-45deg);
}

/**end detail*/

#bx-catalog-subscribe-form-container-1 input {
    height: 40px;
    border: 1px solid #ededed;
    width: 100%;
    padding: 5px;
}

body li:before {
    display: none;
}

.bx-sls .dropdown-block {
    height: 3rem;
    margin-bottom: 1.5rem;
    box-shadow: none;
}

.bx-sls .dropdown-icon {
    height: 21px;
}

.wrap-popup-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 2199;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap-popup-window .modal-popup-bg {
    background-color: #000000;
    width: 100%;
    min-height: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.wrap-popup-window .popup-window {
    position: absolute;
    z-index: 11000;
    max-height: 97%;
    max-width: 95%;
}

.popup-window {
    max-width: 95%;
}

#bx-catalog-subscribe-form-notify {
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 12px;
}

.modal-block .popup-close {
    height: 28px;
    width: 28px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.popup-close {
    height: 14px;
    width: 14px;
    display: block;
    position: absolute;
    top: 23px;
    right: 30px;
    cursor: pointer;
    background-image: url("/local/templates/sotbit_origami/assets/img/icon_close.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.2s ease-in-out;
    z-index: 150;
}

.popup-window {
    padding: 0 !important;
    margin: 0;
}

.popup-window .popup-window-content {
    background: none;
}

.popup-window .popup-window-close-icon {
    width: 14px;
    height: 14px;
    display: block;
    position: absolute;
    top: 23px;
    right: 30px;
    cursor: pointer;
    background-image: url("/local/templates/sotbit_origami/assets/img/icon_close.png");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 10000;
}

.popup-window .popup-window-close-icon:hover {
    background-image: url("/local/templates/sotbit_origami/assets/img/icon_close_hover.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
}

.popup-close:hover {
    background-image: url("/local/templates/sotbit_origami/assets/img/icon_close_hover.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.sotbit_order_phone__block .error {
    border: 1px solid red !important;
}

.wrap-popup-window .popup-content {
    display: block;
    width: 100%;
}

#basket-root {
    display: block;
}

.product-item-detail-buy-button.disabled {
    cursor: not-allowed;
    background: #00b02a;
    border: 1px solid #00b02a;
}

@media (max-width: 992px) {
    .window_basket {
        min-width: auto;
    }

    .bx-basket-item-list-container.modal-content {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 768px) {
    .personal_title {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .form-group {
        flex-wrap: wrap;
    }

    .sale-order-detail-payment-options-info-order-number,
    .sale-order-detail-payment-options-info-total-price,
    .sale-order-list-title,
    .sale-order-list-accomplished-title,
    .sale-order-payment-change-payment-price,
    .sale-order-payment-change-pp-company-smalltitle,
    .sale-order-detail-about-order-title-element,
    .sale-order-detail-payment-options-title-element,
    .sale-order-detail-payment-options-shipment-composition-title-element,
    .sale-order-detail-payment-options-order-content-title-element,
    .sale-order-detail-general-item {
        text-align: center;
    }


    .basket-checkout-container {
        padding: 15px;
    }

    .sale_account_pay__techno_block,
    .sale-personal-account-wallet-container {
        padding: 0 !important;
    }

    .personal_title {
        padding: 15px 0;
    }
}

.promotion_list__content_comment-bold {
    font-weight: bold;
}

.blog_detail_wrapper,
.news_detail_wrapper {
    padding-left: 15px;
    padding-right: 15px;
}


.blog-block__follow_input {
    display: flex;
}

@media (max-width: 576px) {
    .blog_detail_wrapper,
    .news_detail_wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/***all***/
.bx-catalog-subscribe-button {
    text-transform: none !important;
}

.header_top_block_cabinet__arrow {
    display: inline-block;
}

.l-d-xs-none {
    display: none !important;
}

.detail_promotion_products {
    margin-bottom: 30px;
}

.bx-retina .product-item-preview-pay-block {
    border-width: 0.5px;
}


.product-item-scu-container {
    padding: 0 0 2px;
}

.product-item-scu-container-title {
    color: #333;
    font-size: 12px;
}

.product-item-scu-block {
}

.product-item-scu-list {
    margin: 0;
}

.product-item-scu-item-list {
    overflow: hidden;
    margin: 0 0 0 -2px;
    padding: 0;
    list-style: none;
}

.product-item-scu-item-color-container,
.product-item-scu-item-text-container {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px 3px;
    max-width: 100%;
    vertical-align: middle;
}

.product-item-scu-item-text-container {
    min-width: 48px;
}

.product-item-scu-item-color-container {
    max-width: 60px;
    width: 25%;
}

.product-item-scu-item-color-block {
    position: relative;
    padding-top: 100%;
    outline: 1px solid #c0cfda;
    cursor: pointer;
}

.bx-no-touch .product-item-scu-item-color-block {
    transition: outline 200ms ease;
}

.bx-retina .product-item-scu-item-color-block {
    outline-width: .5px;
}

.product-item-scu-item-color-container.selected .product-item-scu-item-color-block {
    outline-width: 2px;
}

.bx-retina .product-item-scu-item.selected .product-item-scu-item-color-block {
    outline-width: 1px;
}

.product-item-scu-item-color {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.product-item-scu-item-text-block {
    position: relative;
    padding: 0 5px;
    outline: 1px solid #c0cfda;
    cursor: pointer;
}

.bx-no-touch .product-item-scu-item-text-block {
    transition: outline 300ms ease;
}

.bx-retina .product-item-scu-item-text-block {
    outline-width: .5px;
}

.product-item-scu-item-text-container.selected .product-item-scu-item-text-block {
    outline-width: 2px;
}

.bx-retina .product-item-scu-item.selected .product-item-scu-item-text-block {
    outline-width: 1px;
}

.product-item-scu-item-text {
    overflow: hidden;
    max-width: 100%;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 11px;
    line-height: 18px;
}

.product-item-scu-item-color-container.notallowed .product-item-scu-item-color-block,
.product-item-scu-item-text-container.notallowed .product-item-scu-item-text-block {
    position: relative;
    overflow: hidden;
    outline-color: #a9adb4 !important;
}

.product-item-scu-item-color-container.notallowed .product-item-scu-item-color-block:after,
.product-item-scu-item-text-container.notallowed .product-item-scu-item-text-block:after {
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    background: rgba(255, 255, 255, 0.75) url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiIgdmlld0JveD0iMCAwIDI2IDI2Ij4gIDxwYXRoIGZpbGw9IiNBOUFEQjQiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTE0LjM5MjEyNjgsMTMuMjMyMzAyOSBMMjUuOTkyLDEuNDE4IEwyNC42LDAgTDEyLjk5OTk5NTYsMTEuODE0NDM2NCBMMS40LDAgTDAuMDA5LDEuNDE5IEwxMS42MDc4Njg3LDEzLjIzMjI5NzUgTDAuNDczLDI0LjU3MyBMMS44NjUsMjUuOTkxIEwxMi45OTk5OTkzLDE0LjY1MDE2NDUgTDI0LjEzNCwyNS45OSBMMjUuNTI2LDI0LjU3MiBMMTQuMzkyMTI2OCwxMy4yMzIzMDI5IFoiLz48L3N2Zz4=") no-repeat center;
    background-size: 80% 80%;
    content: "";
}

.product-item-selected-scu-container {
    word-spacing: 1px
}

.product-item-selected-scu {
    display: inline-block;
    overflow: hidden;
    padding: 0 5px;
    min-width: 22px;
    height: 22px;
    outline: 1px solid #c0cfda;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 11px;
    line-height: 22px;
}

.bx-retina .product-item-selected-scu {
    outline-width: 0.5px;
}

.product-item-selected-scu-color {
    background-position: center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

/*Amount*/
.product-item-amount {
    padding: 0 0 2px;
    text-align: center;
}

.product-item-amount-field-btn-plus,
.product-item-amount-field-btn-minus {
    position: relative;
    display: inline-block;
    min-width: 22px;
    height: 22px;
    border-radius: 2px;
    background-color: #f2f2f2;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    transition: background 300ms ease, opacity 300ms ease;
}

.bx-retina .product-item-amount-field-btn-plus,
.bx-retina .product-item-amount-field-btn-minus {
    border-width: .5px;
}

.product-item-amount-field-btn-plus:hover,
.product-item-amount-field-btn-minus:hover {
    background: #d3d3d3;
}

.product-item-amount-field-btn-plus:after,
.product-item-amount-field-btn-minus:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    opacity: .8;
    transition: opacity 300ms ease, background 300ms ease;
}

.product-item-amount-field-btn-disabled.product-item-amount-field-btn-plus:after,
.product-item-amount-field-btn-disabled.product-item-amount-field-btn-minus:after {
    opacity: .3 !important;
    cursor: default;
}

.product-item-amount-field-btn-disabled.product-item-amount-field-btn-plus:hover,
.product-item-amount-field-btn-disabled.product-item-amount-field-btn-minus:hover {
    background-color: #f2f2f2;
}

.product-item-amount-field-btn-minus:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    opacity: .8;
    transition: opacity 300ms ease;
}

.product-item-amount-field-btn-plus:after {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCIgdmlld0JveD0iMCAwIDMwIDMwIj4gIDxwYXRoIGZpbGw9IiM1MjVDNjgiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTE4LDEyIEwxOCwwIEwxMiwwIEwxMiwxMiBMMCwxMiBMMCwxOCBMMTIsMTggTDEyLDMwIEwxOCwzMCBMMTgsMTggTDMwLDE4IEwzMCwxMiBMMTgsMTIgWiIvPjwvc3ZnPg==") no-repeat center;
    background-size: 10px;
}

.product-item-amount-field-btn-minus:after {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCIgdmlld0JveD0iMCAwIDMwIDMwIj4gIDxyZWN0IHdpZHRoPSIzMCIgaGVpZ2h0PSI2IiB5PSIxMiIgZmlsbD0iIzUyNUM2OCIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+") no-repeat center;
    background-size: 10px;
}

.product-item-amount-field-btn-plus:hover:after,
.product-item-amount-field-btn-minus:hover:after {
    opacity: 1;
}

.product-item-amount-field {
    display: inline-block;
    padding: 0;
    max-width: 50px;
    width: auto;
    height: 22px;
    border: 1px solid transparent;
    border-radius: 2px;
    background: transparent !important;
    color: #000;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    transition: border 300ms ease;
}

.bx-retina .product-item-amount-field {
    border-width: .5px;
}

.product-item-amount-field:focus {
    outline: none !important;
}

.bx-no-touch input.product-item-amount-field::-webkit-outer-spin-button,
.bx-no-touch input.product-item-amount-field::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.product-item-amount-description-container {
    color: #a5a5a5;
    white-space: nowrap;
    font-size: 12px;
}

.product-item-amount-description-container strong {
    color: #333;
    white-space: nowrap;
}

.product-item-preview-slider-left,
.product-item-preview-slider-right {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 111;
    display: block;
    width: 25%;
    background: rgba(255, 255, 255, 0) url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2230%22%20viewBox%3D%220%200%2016%2030%22%3E%3Cpolygon%20fill%3D%22%23000000%22%20fill-rule%3D%22evenodd%22%20points%3D%2216%2050%202%2036%2016%2022%2015%2021%201%2035%200%2036%201%2037%2015%2051%22%20transform%3D%22translate(0%20-21)%22%2F%3E%3C%2Fsvg%3E') no-repeat center;
    opacity: .57;
    cursor: pointer;
    transition: all 300ms ease;
}

.product-item-preview-slider-left {
    left: 0;
}

.product-item-preview-slider-right {
    right: 0;
    transform: rotate(180deg);
}

.product-item-preview-slider-left:hover,
.product-item-preview-slider-right:hover {
    background-color: rgba(255, 255, 255, .4);
    opacity: .8;
}

.product-item-preview-slider-close {
    display: none;
}

/*Label*/
.product-item-label-text,
.product-item-label-ring {
    position: absolute;
    z-index: 190;
    opacity: 1;
    transition: opacity 450ms ease;
}

.product-item-label-text span,
.product-item-label-ring {
    display: inline-block;
    clear: both;
    margin-bottom: 2px;
    background: #f42c2c; /*****/
    color: #fff;
    vertical-align: middle;
    text-align: center;
    transition: all 250ms ease;
}

.bx-red .product-item-label-text span,
.bx-red .product-item-label-ring {
    background-color: #fba90c;
}

.product-item-label-text > div,
.product-item-label-ring > div {
    line-height: 0;
}

.product-preview-photo-block .popup .product-item-label-text,
.product-preview-photo-block .popup .product-item-label-ring {
    display: none;
}

/* TEXT */
.product-item-label-text span {
    padding: 2px 5px;
    vertical-align: middle;
    font-weight: bold;
}

.product-item-label-text.product-item-label-small span {
    margin-bottom: 1px;
    padding: 2px 7px;
    font-weight: normal;
    font-size: 13px;
    line-height: 14px;
}

.product-item-label-text.product-item-label-big span {
    padding: 4px 10px;
    font-size: 13px;
    line-height: 17px;
}

@media (max-width: 767px) {
    .product-item-label-text > div {
        line-height: 0;
    }

    .product-item-label-text.product-item-label-small span,
    .product-item-scalable-card.hover .product-item-label-text.product-item-label-small span {
        margin-bottom: 1px;
        padding: 2px 7px;
        font-size: 10px;
        line-height: 14px;
    }

    .product-item-big-card .product-item-label-text.product-item-label-small span,
    .product-item-label-text.product-item-label-big span,
    .product-item-scalable-card.hover .product-item-label-text.product-item-label-big span {
        margin-bottom: 1px;
        padding: 3px 12px;
        font-size: 14px;
        line-height: 16px;
    }

    .product-item-big-card .product-item-label-text.product-item-label-big span {
        padding: 3px 12px;
        font-size: 20px;
        line-height: 25px;
    }
}

/*RING*/
.product-item-label-ring {
    box-sizing: border-box;
    border-radius: 50%;
    font-weight: bold;
}

.product-item-label-ring.product-item-label-small {
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
}

.product-item-label-ring.product-item-label-big {
    width: 50px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
}

@media (max-width: 767px) {
    .product-item-label-ring.product-item-label-small,
    .product-item-scalable-card.hover .product-item-label-ring.product-item-label-small {
        width: 20px;
        height: 20px;
        font-size: 13px;
        line-height: 20px;
    }

    .product-item-big-card .product-item-label-ring.product-item-label-small,
    .product-item-label-ring.product-item-label-big,
    .product-item-scalable-card.hover .product-item-label-ring.product-item-label-big {
        width: 35px;
        height: 35px;
        font-size: 12px;
        line-height: 35px;
    }

    .product-item-big-card .product-item-label-ring.product-item-label-big {
        width: 70px;
        height: 70px;
        font-size: 24px;
        line-height: 70px;
    }
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.blog-detail__middle {
    padding-bottom: 25px;
    border-bottom: 1px solid #ced2d5;
    margin-bottom: 25px;
}

.blog-detail__gallery-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
}

.blog-detail__gallery-items {
    margin-bottom: 25px;
}

.blog_detail_wrapper .blog_popular_list__item:last-child {
    border-bottom: 1px solid #ced2d5;
}

input[type="email"]::placeholder {
    color: #8a8989;
}

.bx_catalog-compare-list {
    display: none !important;
}

/* animation */

.feedback_block__compliance .cntr {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .feedback_block__compliance .cntr {
        flex-direction: column;
        align-items: flex-start;
    }
}

.feedback_block__compliance .cntr .fonts__middle_comment {
    font-size: 13px;
    line-height: 20px;
}

@media (max-width: 576px) {
    .feedback_block__compliance .cntr .fonts__middle_comment {
        font-size: 13px;
    }
}

.feedback_block__compliance_link.fonts__middle_comment {
    padding-left: 0.3rem;
}

@media (max-width: 768px) {
    .feedback_block__compliance_link.fonts__middle_comment {
        padding-left: 28px;
    }
}

.feedback_block__compliance_link.fonts__middle_comment:hover {
    text-decoration: underline;
    transition: 0.3s ease-out;
}

/*reading*/

.brand_block__item:hover {
    opacity: 1;
    transition: all 0.6s ease;
}

.brand_block_variant.owl-carousel .owl-item img {
    margin: 0 auto;
}

.social_block__img_link,
.news_block__content_img-block_link img {
    padding-bottom: 0 !important;
}

.social_block__content,
.news_block__content_date {
    padding-top: 0.7rem;
}

.popup-window-message-content {
    display: flex;
    margin: 30px 30px 32px 30px;
}

/*end animation img*/

.tabs_sale_block__content .product_card__block_item {
    width: 20%;
}

@media (max-width: 1199px) {
    .tabs_sale_block__content .product_card__block_item {
        width: 25%;
    }
}

@media (max-width: 981px) {
    .tabs_sale_block__content .product_card__block_item {
        width: 33.33%;
    }
}

@media (max-width: 767px) {
    .tabs_sale_block__content .product_card__block_item {
        width: 50%;
        height: 100%;
    }

    .tabs_sale_block__content .slick-initialized .slick-slide {
        /* width: 290px; */
    }

    .tabs_sale_block__content .slick-slider .slick-list {
        padding-left: 1px;
    }
}

@media (max-width: 575px) {
    .tabs_sale_block__content .product_card__block_item {
        width: 100%;
        height: 100%;
    }

    .tabs_sale_block__content .slick-initialized .slick-slide {
        /* width: 270px; */
    }

    .tabs_sale_block__content .slick-slider .slick-list {
        padding-left: 1px;
    }
}

/* 404 PAGE */

.origami_404 {
    border-bottom: 1px solid #ededed; /* border color*/
    padding-bottom: 4rem;
    padding-left: 20px;
    padding-right: 20px;
}

.origami_404_block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

.origami_404_block__main {
    font-weight: 300;
    font-size: 15vw;
}

.origami_404_block__text_title {
    font-weight: 400;
    font-size: 2rem;
}

.origami_404_block__text_comment {
    font-weight: 400;
    font-size: 1rem;
}

.block_search_404__form {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.block_search_404 {
    width: 70%;
    margin: 0 auto;
}

.block_search_404__line {
    padding: 0.5rem 0 0.5rem 2rem;
    width: 100%;
    border: 1px solid #ededed; /* border color*/
    font-size: 1rem;
    margin-right: 2rem;
}

.block_search_404__line::placeholder {
    color: #808080;
}

.block_search_404__btn {
    text-transform: none;
    min-width: 150px;
    border: none;
}

@media screen and (max-width: 768px) {
    .origami_404_block {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100%;
    }

    .block_search_404__btn {
        font-weight: normal;
    }

    .block_search_404__btn.main_btn {
        font-size: 13px;
    }

    .origami_404_block__main {
        margin-right: 20px;
        font-size: 160px;
    }

    .origami_404_block__text {
        width: 170px;
    }

    .block_search_404 {
        width: 100%;
    }

    .block_search_404__line {
        margin-right: 10px;
        padding-left: 10px;
    }

    .origami_404 {
        padding-bottom: 60px;
    }

    .block_search_404__title {
        font-size: 1rem;
        font-weight: normal;
        padding-bottom: 10px;
    }

    .origami_404_block__text_title {
        margin-bottom: 15px;
        line-height: 29px;
    }
}

@media screen and (max-width: 550px) {
    .origami_404_block {
        margin-top: 35px;
        margin-bottom: 35px;
        width: 100%;
        padding: 0 15px;
    }


    .origami_404_block__main {
        margin-right: 20px;
        font-size: 80px;
    }

    .origami_404_block__text {
        width: 170px;
    }

    .block_search_404 {
        width: 100%;
        padding: 0 15px;
    }

    .block_search_404__line {
        margin-right: 10px;
    }

    .origami_404 {
        padding-bottom: 60px;
    }

    .block_search_404__title {
        font-size: 14px;
        font-weight: normal;
    }

    .origami_404_block__text_title {
        font-size: 17px;
        margin-bottom: 5px;
        line-height: 29px;
    }

    .origami_404_block__text_comment {
        font-size: 12px;
    }

    .title-search {
        padding: 0 10px;
    }

    .block_search_404__btn {
        min-width: 40px;
        width: 40px;
    }

    .block_search_404__btn span {
        display: none;
    }

    body .block_search_404__btn .site-navigation__item-icon {
        display: block;
        fill: #ffffff;
    }
}

.product_card__block__presence_product_value_no,
.product_card__block__presence_product_value_little,
.product_card__block__presence_product_value_sufficient,
.product_card__block__presence_product_value_many {
    margin-right: 5px;
}


.catalog_section_block .owl-item .product_card__block_item {
    width: 100%;
}

.popup-window-message {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
}

.popup-window-hr {
    top: 55px;
    margin-bottom: 23px;
}

#sender_subscribe_component {
    background: #F7F7F7;
}

.popup-window-close-icon.popup-window-titlebar-close-icon {
    top: 23px;
    right: 30px;
}

.popup-window-titlebar .popup-window-titlebar-text {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    margin: 16px 45px 17px 30px;
    padding: 0;
}

.popup-window.popup-window-content-white.popup-window-with-titlebar .popup-window-content {
    background: #F7F7F7;
    margin: 0 30px;
    padding: 0;
}

.popup-window.popup-window-content-white.popup-window-with-titlebar .popup-window-buttons .btn {
    display: none;
}

.popup-window.popup-window-content-white.popup-window-with-titlebar .popup-window-buttons .btn.btn-primary {
    margin: 0;
    height: 40px;
    cursor: pointer;
    outline: none;
    line-height: 39px;
    display: inline-block;
    padding: 0 1.2rem;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    border: 1px solid #fb0040;
    background: #fb0040;
    border-radius: 0;
}

.popup-window.popup-window-content-white.popup-window-with-titlebar {
    min-width: 429px;
    background: #f7f7f7;
}

.popup-window.popup-window-content-white.popup-window-with-titlebar .popup-window-buttons .btn.btn-primary:hover {
    background: #c80033;
    border: 1px solid #c80033;
}

.popup-window.popup-window-content-white.popup-window-with-titlebar .popup-window-buttons {
    padding: 30px;
    margin: 0;
}

.popup-window.popup-window-content-white.popup-window-with-titlebar .popup-window-titlebar {
    height: 59px;
    border-bottom: 1px solid #E5E5E5;
    padding: 0;
    margin-bottom: 23px;
}

.popup-window.popup-window-content-white.popup-window-with-titlebar.to_basket {
    max-width: 429px;
    min-width: 0;
}

.popup-window.popup-window-content-white.popup-window-with-titlebar.to_basket .popup-window-titlebar .popup-window-titlebar-text {
    white-space: normal;
}

.feedback_block__captcha_img > img {
    width: 180px;
    height: 40px;
}

@media screen and (max-width: 429px) {
    .popup-window .bx_subscribe_response_container {
        min-width: 0;
        width: 100%;
    }

    .popup-window.popup-window-content-white.popup-window-with-titlebar {
        min-width: 0;
        width: 100%;
    }

    .popup-window.popup-window-content-white.popup-window-with-titlebar .popup-window-titlebar {
        height: auto;
    }

    .popup-window.popup-window-content-white.popup-window-with-titlebar.to_basket {
        max-width: 95%;
    }
}

@media screen and (max-width: 452px) {
    .sotbit_order_phone_wrapper {
        background: #F7F7F7;
        width: 100%;
        min-width: auto;
    }
}

.popup-window-titlebar {
    margin-bottom: 30px;
}

.to_basket .popup-window-message-content {
    margin: 0;
}

.sotbit_order_success_show.add-to-basket-detail .popup-window-message-content{
    margin: 0;
}

body .popup-window-close-icon:after {
    display: none;
}

.popup-window.popup-window-content-white.popup-window-with-titlebar .popup-window-buttons .simple_btn.to_basket_btn {
    margin: 0;
    height: 40px;
    cursor: pointer;
    outline: none;
    line-height: 39px;
    display: inline-block;
    padding: 0 1.2rem;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    border: 1px solid #fb0040;
    background: #fb0040;
    border-radius: 0;
    transition: all 0.2s ease;
}
