body h1:not([class]) {
    padding-bottom: 30px;
    font-size: 31px;
}

.vlog {
    display: flex;
    overflow: hidden;

    .vlog__content-wrapper {
        flex-grow: 1;
    }

    .vlog__banner-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 160px;
        margin-bottom: 30px;
        overflow: hidden;
    }

    .vlog__banner {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .vlog__content {
        display: flex;
        flex-wrap: wrap;
        margin-right: -30px;
    }

    .video-container {
        display: inline-block;
        width: calc(100% / 3 - 30px);
        height: 366px;
        margin-right: 30px;
        margin-bottom: 30px;
        background-color: #F7F7F7;

        .video-container__image-wrapper {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 196px;
            overflow: hidden;
            cursor: pointer;

            &:hover + .video-container__text-wrapper .video-container__title {
                color: #fb0040;
            }
        }

        .video-container__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .video-container__date {
            display: flex;
            align-items: center;
            position: absolute;
            top: 10px;
            left: 10px;
            height: 20px;
            max-width: calc(100% - 20px);
            padding: 0 10px;
            overflow: hidden;

            font-size: 13px;
            white-space: nowrap;

            background: rgba(255, 255, 255, 0.5);

            .icon_clock {
                flex-shrink: 0;
                margin-right: 10px;
                fill: #000000;
            }

            span {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .video-container__play-btn {
            position: absolute;
            top: calc(50% - 30px);
            left: calc(50% - 42px);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 85px;
            height: 60px;

            border-radius: 10px;
            background: rgba(0, 0, 0, 0.6);
            overflow: hidden;
        }

        .icon_play {
            fill: #ffffff;
        }

        .video-container__text-wrapper {
            height: calc(100% - 196px);
            padding: 20px;
            overflow: hidden;
            border-left: 1px solid #ededed;
            border-right: 1px solid #ededed;
            border-bottom: 1px solid #ededed;
        }

        .video-container__title {
            display: block;
            max-height: 75px;
            font-weight: 600;
            font-size: 17px;
            line-height: 25px;
            overflow: hidden;
            margin-bottom: 10px;
            cursor: pointer;
        }

        .video-container__tags-wrapper {
            overflow: hidden;
            max-width: 100%;
            max-height: 45px;


        }

        .video-tags {
            display: inline-flex;
            flex-wrap: wrap;

            .video-tags__title {
                display: block;
                margin-right: 10px;
                margin-bottom: 5px;
                font-size: 12px;
            }

            .video-tags__tag {
                display: flex;
                align-items: center;
                height: 20px;
                padding: 0 10px;
                margin-bottom: 5px;
                margin-right: 5px;

                font-size: 11px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                border-radius: 10px;
                cursor: pointer;
                background-color: #ededed;
                transition: all 0.2s ease;

                span {
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                &:hover {
                    color: #ffffff;
                    background-color: #fb0040;
                }
            }
        }

    }

    .vlog__sidebar {
        flex-shrink: 0;
        width: 313px;
        margin-left: 30px;

        .footer-block__follow_input_icon {
            fill: #fff;
        }

        .vlog__sidebar-item {
            margin-bottom: 30px;
        }

        .vlog__sidebar-item-title {
            display: block;
            margin-bottom: 15px;
            font-weight: 600;
            font-size: 17px;
        }

        .vlog__sidebar-item-tags-wrapper {
            overflow: hidden;
            font-size: 0;
            transition: all 0.3s ease;
        }

        .vlog__sidebar-item-tags {
            display: inline-flex;
            flex-wrap: wrap;
            overflow: hidden;
            font-size: 0;
        }

        .vlog__sidebar-tag {
            display: inline-flex;
            align-items: center;
            height: 20px;
            padding: 0 10px;
            margin-bottom: 5px;
            margin-right: 5px;
            order: 1;

            font-size: 11px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            border-radius: 10px;
            cursor: pointer;
            background-color: #ededed;
            transition: all 0.2s ease;

            span {
                text-overflow: ellipsis;
                overflow: hidden;
            }

            &:hover {
                color: #ffffff;
            }

            &[data-active='true'] {
                order: 0;
                color: #ffffff;
                background-color: #fb0040;

                .icon_cancel_filter_small {
                    display: inline;
                }
            }
        }

        .icon_cancel_filter_small {
            display: none;
            flex-shrink: 0;
            margin-left: 5px;
            stroke: #ffffff;
            fill: #ffffff;
        }

        .vlog__sidebar-items-tags-show-all {
            display: none;

            align-items: center;
            margin-top: 10px;
            font-size: 12px;
            color: #808080;

            cursor: pointer;
        }

        .vlog__sidebar-item-video-title {
            display: block;

            &:not(:last-child) {
                margin-bottom: 10px;
                border-bottom: 1px solid #ededed;
                padding-bottom: 10px;
            }
        }

        .email-subscribe {
            display: flex;
            align-items: center;

            input {
                height: 40px;
                flex-grow: 1;
                padding: 10px 15px;
                border: 1px solid #ededed;

                &::placeholder {
                    color: #808080;
                }
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 60px;
                height: 40px;
                transition: all 0.2s ease;
                cursor: pointer;
                border: 0;
            }

            .icon_mail {
                fill: #ffffff;
            }
        }
    }

}
