.promotion_block_two {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.promotion_block_two__item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% / 3 - 30px);
  margin: 0 15px; }
  .promotion_block_two__item:first-child {
    width: calc(100% / 3 - 15px);
    margin-left: 0; }
  .promotion_block_two__item:last-child {
    width: calc(100% / 3 - 15px);
    margin-right: 0; }
  .promotion_block_two__item.promotion_block_two__item--vertical {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.promotion_block_two__block_img_small_link {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  height: 242px; }

.promotion_block_two__link {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  height: 512px; }

.promotion_block_two__img,
.promotion_block_two__block_img_small__img {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

@media (max-width: 1200px) {
  .promotion_block_two__block_img_small_link {
    height: 214px; }
  .promotion_block_two__link {
    height: 460px; } }

@media (max-width: 1024px) {
  .promotion_block_two__block_img_small_link {
    height: 180px; }
  .promotion_block_two__link {
    height: 382px; }
  .promotion_block_two__item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% / 3 - 20px);
    margin: 0 10px; }
    .promotion_block_two__item:first-child {
      width: calc(100% / 3 - 10px);
      margin-left: 0; }
    .promotion_block_two__item:last-child {
      width: calc(100% / 3 - 10px);
      margin-right: 0; }
    .promotion_block_two__item.promotion_block_two__item--vertical {
      display: -webkit-box !important;
      display: -moz-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

@media (max-width: 991.98px) and (min-width: 576px) {
  .promotion_block_two .slick-slide {
    width: 290px;
    margin-right: 20px; }
  .promotion_block_two .promotion_block__content:last-child {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 575.98px) {
  .promotion-block__wrapper .promotion_block_two .slick-slide {
    width: 260px;
    margin-right: 20px; }
  .promotion_block_two__block_img_small_link {
    height: 180px; }
  .promotion_block_two__link {
    height: 382px; } }
