.product-card-column__buttons .product-card-inner__buttons-block {
    padding-bottom: 0;

    .product-card-inner__buttom-more-btn {
        width: auto;
        margin-left: 20px;
        padding: 0 30px;
    }
}

.block__product_cards.block__product_cards--mobile-min .product_card__block_item.product_card__block_item--column {
    margin: 0;
    border-left: 1px solid #ededed;
    border-top: 1px solid #ededed;
    border-right: 1px solid #ededed;
    transition: all 0.2s ease;

    &:last-child {
        border-bottom: 1px solid #ededed;

        &:hover {
            border-bottom: 1px solid transparent;
        }
    }

    &:hover {
        border: 1px solid transparent;
        border-bottom: 0;
        box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);

        .product-card-column__title {
            color: #fb0040;
        }
    }
}

.product-card-column {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;

    .product-card-inner__product-subscribe-btn {
        white-space: nowrap;
    }

    .product-card-inner__in-basket .icon_cart_medium {
        display: none;
    }

    .product-card-column__image-wrapper {
        width: 60px;
        height: 60px;
        margin-right: 20px;
    }

    .product-card-inner__product-basket-btn {
        padding: 0 30px;
    }

    .product-card-inner__product-basket {
        padding: 0;
        margin-left: 20px;
        white-space: nowrap;
    }

    .product-card-column__image-wrapper-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .product-card-column__buttons {
        display: flex;
        align-items: center;
    }

    .product-card-column__title {
        display: block;
        font-size: 15px;
        line-height: 24px;
    }

    .product-card-column__data-btns {
        display: flex;
        align-items: center;
    }

    .product-card-inner__subscribe {
        padding: 0;
    }

    .product-card-inner__buy > div {
        padding: 0;
    }

    .product-card-column__price {
        margin-left: 20px;
        font-weight: 600;
        font-size: 17px;
        line-height: 25px;
        white-space: nowrap;
    }

    .product-card-inner__counter-btn {
        height: 40px;
        margin: 0;
        padding: 0 8px;
        background-color: transparent;
        border: 1px solid #e6e6e6;
        cursor: pointer;
    }

    .product-card-inner__counter-btn {
        margin: 0;
        padding: 0 8px;
        height: 40px;
        background-color: transparent;
        border: 1px solid #e6e6e6;
        cursor: pointer;
    }

    .product-card-column__data-wrapper-outer {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;
    }

    .product-card-inner__counter.product-counter__amount {
        margin-left: 20px;
    }

    .product-card-inner__in-basket {
        flex-basis: 106px;
        height: 40px;
        margin-left: 20px;
        padding: 0 30px;
        color: #fff;
        white-space: nowrap;
        font-weight: 700;
        background-color: #fb0040;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease-out;
    }

    .product-card-inner__product-subscribe-btn {
        margin-left: 20px;
        padding: 0 30px;
        cursor: pointer;

        &:before {
            display: none;
        }
    }

    .product-card-column .product-card-inner__buy > div {
        margin: 0;
    }

    .product-card-inner__buy {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        max-width: none;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .product-card-inner__counter input {
        width: 34px;
        padding: 9px 3px;
        height: 40px;
        font-weight: 700;
        text-align: center;
        border-left: none;
        border-right: none;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
    }

    .product-card-inner__quantity {
        margin-right: 15px;
    }

    .product-card-column__data-btns-favourite-compare {
        font-size: 0;

        span[data-entity='wish'] {
            display: inline-block;
            margin: 0 15px 0 0;
            padding: 5px;
            cursor: pointer;
            border-radius: 100%;
            transition: all 0.2s ease;

            &.active {
                background-color: #ededed;

                svg {
                    fill: #fb0040;
                }
            }

            &:hover {
                background-color: #ededed;

                svg {
                    fill: #fb0040;
                }
            }
        }

        span[data-entity="compare-checkbox"] {
            display: inline-block;
            margin-right: 15px;
            padding: 5px;
            cursor: pointer;
            border-radius: 100%;
            transition: all 0.2s ease;

            &.active {
                background-color: #ededed;

                svg {
                    fill: #fb0040;
                }
            }

            &:hover {
                background-color: #ededed;

                svg {
                    fill: #fb0040;
                }
            }
        }

        svg {
            fill: #BDBDBD;
        }
    }
}
