body .puzzle_block.no-padding {
  max-width: 100%; }

body .block_main_left_menu__content.active {
  width: 100% !important;
  padding-left: 0;
  padding-right: 0; }

body .block_main_left_menu__container.mo-main {
  display: none; }

.breadcrumb_block,
.puzzle_block h1 {
  margin: 0 auto; }

.puzzle_block.no-padding.main-container {
  padding-right: 0;
  padding-left: 0; }

.left .questions {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.left .questions__manager_wrapper {
  margin-left: 0;
  margin-right: 30px; }

.left .questions__manager-wrapper {
  left: 0;
  right: auto; }

.right .questions {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.questions-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.questions {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.questions__content_description {
  display: block;
  margin-bottom: 35px; }

.questions__content_title {
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: bold; }

.question-toggle {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer; }

.questions__content_question {
  border: 1px solid #f7f7f7;
  cursor: pointer; }
  .questions__content_question:not(:last-child) {
    margin-bottom: 10px; }

.questions__content_question[data-opened=true] .question-text {
  color: #fb0040; }

.questions__content_question[data-opened=true] .question-icon_toggle {
  fill: #fb0040;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.question-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 30px;
  font-size: 17px;
  font-weight: 600;
  background-color: #f7f7f7; }

.answer-wrapper {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.answer-text {
  padding: 20px 30px;
  font-size: 15px;
  line-height: 24px; }

.question-icon_toggle {
  fill: #000000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.question-text {
  margin-right: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.questions__manager_wrapper {
  position: relative;
  width: 313px;
  margin-left: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.questions__manager-wrapper {
  position: absolute !important;
  right: 0;
  top: 0;
  z-index: 3;
  height: 100%; }

.questions__manager {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 313px;
  padding: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #f7f7f7;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.mobile-questions__manager_name-wrapper {
  display: none; }

.questions__manager_image {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 180px;
  height: 180px;
  margin-bottom: 17px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  .questions__manager_image .questions__manager_photo {
    width: 100%;
    height: auto; }

.questions__manager_info {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%; }

.questions__manager_name {
  font-size: 24px;
  font-weight: bold;
  text-align: center; }

.questions__manager_profession {
  margin: 8px 0;
  font-size: 12px;
  text-align: center; }

.questions__manager_message {
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;
  max-width: 100%; }

.questions__manager_button {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 50px;
  font-weight: bold;
  color: #ffffff;
  background-color: #fb0040;
  border: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.questions__form-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: url("questions_bg.png") center no-repeat;
  background-size: cover; }

.questions__form {
  width: 100%; }

.call-back-buttons p {
  padding-left: 30px; }

@media screen and (max-width: 900px) {
  .questions__manager-wrapper {
    position: initial !important;
    width: 100%;
    height: auto; }
  .questions__manager {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    padding: 20px; }
  .questions__content_description {
    margin-bottom: 20px; }
  .answer-text {
    padding: 20px;
    font-size: 14px;
    line-height: 21px; }
  .question-wrapper {
    padding: 20px;
    font-size: 14px; }
  .questions__manager_image {
    width: 200px;
    height: 200px;
    margin-right: 34px;
    margin-bottom: 0; }
  .questions__manager_wrapper {
    display: none; }
  .questions__manager_info {
    -webkit-box-align: start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .questions__manager_message {
    text-align: justify; }
  .questions__manager_name-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .questions__manager_profession {
    margin: 0 0 10px;
    text-align: left; }
  .questions__manager_name {
    margin-bottom: 5px;
    font-size: 20px; }
  .questions__manager_message {
    margin-bottom: 30px;
    line-height: 18px; }
  .questions__content_title {
    margin: 30px 0 15px;
    font-size: 20px; } }

@media screen and (max-width: 768px) {
  body h1:not([class]) {
    padding-top: 20px; } }

@media screen and (max-width: 600px) {
  .questions__manager_name-wrapper {
    display: none; }
  .questions__content .questions__content_description {
    font-size: 11px;
    line-height: 17px; }
  .questions__manager {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .questions__manager_mobile-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 20px; }
  .questions__manager_image {
    width: 100px;
    height: 100px;
    margin-right: 20px; }
  .questions__manager_name {
    text-align: left;
    font-size: 17px; }
  .mobile-questions__manager_name-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .questions__manager_message {
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 17px; }
  .questions__content_title {
    margin: 30px 0 20px;
    font-size: 17px; } }

@media screen and (max-width: 476px) {
  .questions__manager_button {
    width: 100%; }
  body h1:not([class]) {
    font-size: 24px; } }
