body h1:not([class]) {
  max-width: var(--main-width);
  font-size: 31px; }

body .header-five.puzzle_block:not(.catalog-wrapper):not(.catalog_section_block) {
  width: 100%; }

.header-three ~ [class].main-container.header-five {
  padding: 0; }
  .header-three ~ [class].main-container.header-five .breadcrumb_block,
  .header-three ~ [class].main-container.header-five h1 {
    width: calc(100% - 110px);
    padding-left: 95px;
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
    padding-right: 15px; }
  .header-three ~ [class].main-container.header-five .contacts-block > div {
    width: calc(100% - 111px);
    padding-left: 95px;
    padding-right: 15px;
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box; }

.breadcrumb_block,
h1 {
  width: calc(100% - 30px);
  padding-left: 15px;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  padding-right: 15px; }

.contacts-block > div {
  width: calc(100% - 30px);
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box; }

.breadcrumb_block {
  max-width: var(--main-width); }

.contacts-block .contacts-block__title {
  font-size: 28px;
  padding: 20px 0; }

.puzzle_block.no-padding.main-container {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0; }

.block_main_left_menu__content h1 {
  padding-bottom: 30px; }

.breadcrumb_block,
.puzzle_block h1 {
  margin: 0 auto; }

.contacts-content-size-wrapper {
  max-width: var(--main-width);
  margin: 0 auto;
  overflow: hidden; }

.addresses .addresses-wrapper:not(:last-child) {
  border-bottom: 1px solid #EDEDED; }

.contacts-content-regional-wrapper:nth-child(2n) {
  background-color: #F7F7F7; }

.contacts-content-regional-wrapper:nth-child(2n) .regional-manager {
  background-color: #ffffff; }

.contacts-content-regional-wrapper:nth-child(2n-1) .regional-manager {
  background-color: #F7F7F7; }

.contacts-callback-wrapper {
  background: url("../../../assets/img/contact_bg.png") no-repeat center;
  background-size: cover; }

.contacts-block > p {
  padding: 0; }

@media (max-width: var(--main-width)) {
  .puzzle_block.no-padding.main-container {
    padding-left: 0;
    padding-right: 0; }
  .header-five .contacts-content-size-wrapper {
    padding: 0 20px; }
  .contacts-content-size-wrapper {
    padding: 0 10px; }
  body .breadcrumb_block {
    padding-left: 20px;
    padding-right: 20px; }
  .puzzle_block.no-padding.main-container h1 {
    padding-left: 20px;
    padding-right: 20px; } }

@media (max-width: 1024px) {
  body h1:not([class]) {
    font-size: 28px; }
  .contacts-block .contacts-block__title {
    font-size: 24px; }
  .contacts-block__regions-description {
    font-size: 13px; } }

@media (max-width: 1023px) {
  body .header-five.puzzle_block:not(.catalog-wrapper):not(.catalog_section_block) {
    width: 100%; }
  .header-three ~ [class].main-container.header-five .breadcrumb_block,
  .header-three ~ [class].main-container.header-five h1 {
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px; }
  .header-three ~ [class].main-container.header-five .contacts-block > div {
    width: 100%;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 10px; } }

@media (max-width: 768px) {
  .contacts-block__regions-description {
    padding-bottom: 30px; } }

@media screen and (max-width: 450px) {
  body h1:not([class]) {
    font-size: 24px;
    padding-top: 15px; }
  .contacts-block .contacts-block__title {
    font-size: 20px; }
  .contacts-block__regions-description {
    font-size: 12px;
    padding-bottom: 40px; }
  .contacts-content-size-wrapper {
    padding: 0 15px; }
  .header-five .contacts-content-size-wrapper {
    padding: 0; }
  body .breadcrumb_block {
    padding-left: 15px;
    padding-right: 15px; }
  .puzzle_block.no-padding.main-container h1 {
    padding-left: 15px;
    padding-right: 15px; } }
