div.news-detail {
    word-wrap: break-word;
}

div.news-detail img.detail_picture {
    float: left;
    margin: 0 8px 6px 1px;
}

.news-date-time {
    color: #486DAA;
}

.blog-detail__gallery .blog-detail__gallery-items {
    height: 200px;
    overflow: hidden;
}

.blog-detail__gallery .blog-detail__gallery-items .owl-stage {
    height: 200px;
}

.blog-detail__gallery .owl-carousel .owl-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-detail__gallery .owl-carousel.owl-drag .owl-item {
    padding: 0 5px;
}

.blog-detail__top {
    padding-bottom: 25px;
    border-bottom: 1px solid #ced2d5;
    margin-bottom: 25px;
}

.blog-detail .blog-date-time {
    color: #949393;
    font-size: 12px;
    margin-bottom: 20px;
}

.blog-detail__tag {
    font-size: 12px;
    color: #3f3f3f;
    background: #f7f7f7;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.blog-detail .detail_picture {
    max-height: 335px;
    object-fit: cover;
    margin-bottom: 35px;
    width: 100%;
}

.blog-detail .blog-detail__preview-text {
    margin-bottom: 15px;
}
