textarea.feedback_block__form_input {
    margin-top: 11px;
}

.row .puzzle_block__form_label input:focus,
.row .puzzle_block__form_label input:valid {
    box-shadow: none;
}

.feedback_block .main-input-md__wrapper {
    width: 100%;
}

.main_checkbox.conf label:hover {
    color: #000000 !important;
}

.main_checkbox.conf label .confidential {
    transition: color 0.2s ease;
}

.main_checkbox.conf label .confidential:hover {
    color: #fb0040;
}

.feedback_block .main-input-md::placeholder {
    color: #808080;
}

.feedback_block .success-message {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 16px;
}

.feedback_block .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.feedback_block .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.feedback_block__main-page {
    padding: 40px 0 50px;
    background: #F7F7F7;
}

.feedback_block__main-page .feedback_block__title,
.feedback_block__main-page .feedback_block__comment {
    text-align: center;
}

.feedback_block__main-page .feedback_block__title {
    margin-bottom: 10px;
}

.feedback_block__main-page .feedback_block__compliance {
    margin-top: 20px;
}

.feedback_block__main-page .feedback_block__comment {
    margin-bottom: 40px;
}

.feedback_block__main-page.feedback_block .main_btn-big {
    width: 100%;
}

.feedback_block__main-page.feedback_block .checkbox__label a {
    vertical-align: inherit;
}

.feedback_block__main-page.feedback_block .feedback_block__compliance {
    padding-left: 15px;
}

@media (max-width: 900px) {
    .feedback_block .row {
        flex-direction: column;
    }

    .feedback_block .col-xl-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .feedback_block .feedback_block__compliance .cntr {
        justify-content: flex-start;
        margin-top: 10px;
    }
}

@media (max-width: 900px) {
    .feedback_block__main-page .feedback_block__comment {
        margin-bottom: 20px;
    }

    .feedback_block__main-page {
        padding: 20px 0 30px;
    }
}
