.social_block_inst__wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px; }

.social_block_inst__item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.social_block_inst__img {
  width: 100%; }

.social_block_inst__img_link {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .social_block_inst__img_link picture {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .social_block_inst__img_link picture img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
         object-fit: contain; }

@media (max-width: 768px) {
  .social_block_inst__wrapper {
    margin-left: 0; }
  .social_block_inst__item {
    margin-left: 0;
    width: 290px; }
  .social_block_inst__wrapper .slick-slide {
    width: 290px;
    margin-right: 20px; } }

@media (max-width: 576px) {
  .social_block_inst__wrapper .slick-slide {
    width: 260px;
    margin-right: 20px; } }
