
.news_block_one_wrapper {
    display: flex;
    margin-left: -30px;
}

.news_block_one__item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
}

.news_block_one__content {
    margin-top: 0.7rem;
}

.news_block_one__img_link {
    display: flex;
    align-items: center;
    height: 240px;
    justify-content: center;
    overflow: hidden;
    & > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width: 1024px) {
    .news_block_one__img_link {
        height: 170px;
    }
}


@media (max-width: 768px) {

    .news_block_one__img_link {
        height: 164px;
    }

    .news_block_one {
        & .slick-slide {
            width: 290px;
            margin-right: 20px;
        }
    }

    .news_block_one .promotion_block__content {
        &:last-child {
          display: flex;
        }
    }

    .news_block_one__item,
    .news_block_one__others {
        margin-left: 0;
    }

    .news_block_one_wrapper {
        margin: 0;
    }
}

@media (max-width: 576px) {
    .news-block__wrapper {

        .news_block_one .slick-slide {
            width: 260px;
            margin-right: 20px;
        }
    }
}
