.main_page-catalog_banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-height: 430px;
    margin-top: 10px;

    .owl-carousel .owl-stage::after {
        display: none;
    }

    .owl-nav {
        .disabled {
            display: none;
        }
    }

    .banner-info__wrapper {
        position: absolute;
        display: flex;
        align-items: center;
        width: 100%;

    }

    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next {
        width: 40px;
        height: 40px;
        margin-top: -20px;
        background: rgba(0, 0, 0, 0.4) !important;
        border-radius: 4px;

        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 12px;
            height: 12px;
            border-bottom: 2px solid #ffffff;
            border-left: 2px solid #ffffff;
        }
    }

    .owl-carousel .owl-nav .owl-prev {
        left: 10px;

        &:before {
            top: calc(50% - 6px);
            left: calc(50% - 4px);
            transform: rotate(45deg);
        }
    }

    .owl-carousel .owl-nav .owl-next {
        right: 10px;

        &:before {
            top: calc(50% - 6px);
            left: calc(50% - 8px);
            transform: rotate(-135deg);
        }
    }

    .banner-info {
        max-width: 380px;
        margin-left: 80px;
        color: #ffffff;

        .banner-info__name {
            margin-bottom: 5px;
            font-weight: 600;
            font-size: 13px;
            line-height: 20px;
        }

        .banner-info__title {
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 28px;
            line-height: 38px;
        }

        .banner-info__text {
            margin-bottom: 30px;
            font-weight: 600;
            font-size: 17px;
            line-height: 25px;
        }

        .banner-info__button {
            max-width: 260px;
        }

    }

    .owl-item .block_main_canvas__big_canvas__content {
        height: 430px !important;
    }

    .owl-item .block_main_canvas__big_canvas__content > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .slider_block {
        margin-right: 10px;
        border-radius: 4px;
        overflow: hidden;
        flex-grow: 1;

        .block_main_canvas__big_canvas__content {
            overflow: hidden;
        }


    }

    .block_main_canvas__big_canvas {
        height: 100%;
    }

    .owl-stage-outer {
        height: 100%;

        .owl-stage {
            height: 100%;
        }
    }

    .fonts__middle_title {
        font-size: 20px;
    }

    .fonts__small_text {
        font-size: 14px;
    }

    .owl-carousel.owl-loaded.owl-drag .owl-dots {
        display: flex;
        justify-content: center;
        width: 100%;
        left: 0;

        .owl-dot {

            & > span {
                width: 14px;
                height: 14px;
                border: 3px solid #FFFFFF;
                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
                background: #CCCCCC;
                transition: all 0.2s ease-in-out;
                margin: 0 0.65rem;
            }

            &.active > span {
                width: 42px;
                background-color: #fb0040;
            }
        }
    }

    .catalog_links-block {
        display: flex;
        justify-content: space-between;
        width: 430px;
        flex-shrink: 0;


        .links-section_wrapper {
            flex: 0 0 50%;
            display: flex;
            max-width: 215px;
            flex-direction: column;
            width: 50%;
        }
    }

    .links-section_left {
        margin-right: 5px;
    }

    .links-section_right {
        margin-left: 5px;
    }

    .links-section_left, .links-section_right {
        position: relative;
        max-height: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;

        & > a {
            border-radius: 4px;
            overflow: hidden;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            height: 50%;

            .links-section__overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
            }

            &:first-child {
                margin-bottom: 10px;
            }

            &:hover {
                .link-section_text {
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }

            .link-section_text {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                font-weight: bold;
                font-size: 18px;
                line-height: 28px;
                padding: 15px 20px;
                color: #fff;
                transition: all 0.2s ease-in-out;
            }

            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin-bottom: 0;
                position: relative;
                flex-shrink: 0
            }

        }
    }

}

.main_page-catalog_banner .block_main_canvas__big_canvas__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_page-catalog_banner .owl-item .block_main_canvas__big_canvas__content > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
