.promotion_block_three {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px; }

.promotion_block_three__content {
  width: calc((100% - 60px) / 3);
  margin: 0 15px; }

.news_block_three__img {
  max-height: 100%;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.promotion_block_three__content:nth-child(-n + 2) {
  width: calc(100% / 2 - 30px);
  margin-bottom: 15px; }
  .promotion_block_three__content:nth-child(-n + 2) .promotion_block_three__img_block_link {
    height: 346px; }

.promotion_block_three__content:nth-child(4) {
  margin: 0; }

.promotion_block_three__img {
  width: 100%; }

.promotion_block_three__img_block_link {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  height: 242px; }

@media (max-width: 1024px) {
  .promotion_block_three .promotion_block__content {
    width: 25%; }
    .promotion_block_three .promotion_block__content:last-child {
      display: none; }
  .promotion_block_three__content:nth-child(-n + 2) {
    width: calc(100% / 2 - 30px);
    margin-bottom: 30px; }
    .promotion_block_three__content:nth-child(-n + 2) .promotion_block_three__img_block_link {
      height: 270px; }
  .promotion_block_three__img_block_link {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    height: 178px; } }

@media (max-width: 768px) and (min-width: 576px) {
  .promotion_block_three {
    margin: 0; }
  .promotion_block_three__content {
    margin: 0; }
  .promotion_block_three .slick-slide {
    width: 290px;
    margin-right: 20px; }
  .promotion_block_three .promotion_block__content:last-child {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .promotion_block_three__content:nth-child(-n + 2) {
    width: calc(100% / 2 - 30px);
    margin-bottom: 30px; }
    .promotion_block_three__content:nth-child(-n + 2) .promotion_block_three__img_block_link {
      height: 205px; }
  .promotion_block_three__img_block_link {
    height: 205px; } }

@media (max-width: 576px) {
  .promotion_block_three {
    margin: 0; }
  .promotion-block__wrapper .promotion_block_three__content {
    margin: 0; }
  .promotion-block__wrapper .promotion_block_three .slick-slide {
    width: 260px;
    margin-right: 20px; }
  .promotion_block_three__content:nth-child(-n + 2) {
    width: calc(100% / 2 - 30px);
    margin-bottom: 30px; }
    .promotion_block_three__content:nth-child(-n + 2) .promotion_block_three__img_block_link {
      height: 205px; }
  .promotion_block_three__img_block_link {
    height: 205px; } }
