.checkstock-pop_up .phone_input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
}

.checkstock-pop_up .phone_input .main-input-md__wrapper {
    width: calc(100% - 60px);
}

.checkstock-pop_up .phone_input__flag:hover {
    border-color: #BDBDBD;
}

.checkstock-pop_up .phone_input__flag {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 60px;
    padding-right: 10px;
    margin-right: 10px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #DADADA;
    border-radius: 4px 4px 0 0;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position-x: center !important;
}

.phone_input__flag .bx-flag-16::after,
.phone_input__flag .bx-flag-24::after,
.phone_input__flag .bx-flag-32::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
}

#phoneNumberInputSelectCountry {
    position: fixed !important;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.popup-window .popup-window-angly-bottom {
    bottom: -10px;
    height: 10px;
}

.phone_input__flag .bx-flag-16::before,
.phone_input__flag .bx-flag-24::before,
.phone_input__flag .bx-flag-32::before {
    content: '';
    top: 36%;
    right: 11px;
    position: absolute;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 5px;
    margin-bottom: 4px;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    transform: rotate(-45deg);
}

.captcha-refresh {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 10px;
    cursor: pointer;
}

.icon_refresh {
    transition: all 0.3s ease;
}

.feedback_block__captcha_img {
    display: flex;
}

.checkstock-pop_up {
    max-width: 429px;
}

.sotbit_order_phone__block input::placeholder {
    color: #808080;
}

.sotbit_order_phone_wrapper {
    background: #F7F7F7;
    width: 429px;
}

.checkstock-pop_up .feedback_block__captcha_img {
    height: 50px;
}

.popup_resizeable_content {
    position: relative;
    z-index: 1;
}

p > .errortext {
    font-size: 12px;
    padding: 0;
}

.checkstock-pop_up .confidential-field {
    margin: 0 30px;
}

.checkstock-pop_up .confidential-field label {
    min-height: 20px;
}

.popup-window .popup-window-submit_button {
    margin: 30px;
}

.accept_checkbox {
    display: flex;
    justify-content: flex-start;
    margin: 0 30px;
}

.feedback_block__compliance .fonts__middle_comment {
    font-size: 13px;
    line-height: 20px;
}

.checkstock-pop_up .confidential-field .checkbox__label::before {
    background-color: #ffffff;
}

.checkstock-pop_up .popup-window-message-content {
    display: flex;
    max-width: 429px;
    margin: 0;
    padding: 30px 30px 32px 30px;
}

.checkstock-pop_up .popup-error-message p {
    padding: 0;
    margin: 20px 30px 0 30px;
    color: red;
}

.checkstock-pop_up input[name="captcha_word"]:not(.main-input-md) {
    padding: 5px;
    border: 1px solid #ededed;
    height: 40px;
    width: 148px;
    float: left;
    margin-right: 20px;
}

.checkstock-pop_up .feedback_block__captcha_img > img {
    width: 180px;
    height: 50px;
}

.checkstock-pop_up .feedback_block__captcha {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.checkstock-pop_up .feedback_block__captcha_input {
    width: calc(100% - 226px);
    margin-right: 20px;
}

.feedback_block__captcha input[name="captcha_word"]:not(.main-input-md) {
    height: 40px;
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid #ededed;
}

.feedback_block__captcha_img > img {
    width: 180px;
    height: 50px;
}

.popup-window-icon-check {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    fill: #00B02A;
    margin: 10px 20px 0 0;
}

.popup-window-message-title {
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 5px;
}

.checkstock-pop_up .sotbit_order_phone__block {
    margin: 22px 30px 20px 30px;
}

.checkstock-pop_up .sotbit_order_phone__block input:not(.main-input-md),
.checkstock-pop_up .sotbit_order_phone__block textarea {
    border: 1px solid #ededed;
    width: 100%;
    padding: 5px;
}

.checkstock-pop_up .sotbit_order_phone__block input:not(.main-input-md) {
    height: 40px;
}

.checkstock-pop_up .sotbit_order_phone__block textarea {
    height: 120px;
    margin-bottom: 10px;
    min-height: 40px;
    max-height: 400px;
}

.checkstock-pop_up .sotbit_order_phone__block_title {
    font-size: 13px;
    color: #000000;
    margin-bottom: 0;
    font-style: normal;
    font-weight: normal;
}


.checkstock-pop_up .sotbit_order_phone__title {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    padding: 16px 45px 17px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    transition: all 0.2s ease-in-out;
    position: relative;
    z-index: 2;
}

.checkstock-pop_up input[type="submit"],
.checkstock-pop_up input[type="button"] {
    width: 100%;
}

.checkstock-pop_up .feedback_block__compliance {
    padding-left: 0;
}

.sotbit_order_phone .feedback_block__compliance .cntr {
    justify-content: flex-start;
    margin: 0 30px;
}

.confidential-field .error {
    border-bottom: 1px solid red;
}

@media (max-width: 768px) {
    .sotbit_order_phone .feedback_block__compliance_link.fonts__middle_comment {
        padding-left: 0.3rem;
    }
}

@media (max-width: 576px) {
    .sotbit_order_phone .sotbit_order_phone__block_title {
        padding-bottom: 12px;
    }

    .sotbit_order_phone .feedback_block__compliance {
        margin-top: 21px;
    }

    .sotbit_order_phone .feedback_block__compliance .cntr {
        align-items: flex-start;
    }

    .sotbit_order_phone input[type="button"] {
        width: 100%;
    }

    .sotbit_order_phone .sotbit_order_phone__block {
        margin-bottom: 15px;
    }
}

@media (max-width: 429px) {
    .checkstock-pop_up .feedback_block__captcha_input {
        width: 100%;
    }

    .checkstock-pop_up .feedback_block__captcha {
        display: flex;
        flex-direction: column;
    }

    .checkstock-pop_up .feedback_block__captcha .feedback_block__captcha {
        width: 100%;
    }

    .checkstock-pop_up .feedback_block__captcha .feedback_block__captcha_input {
        order: 1;
        margin-top: 12px;
    }
}
